
body {
    width: max-content;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Inter', sans-serif;
    /* justify-self: center; */
}

body::-webkit-scrollbar {
    display: none; 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.element-container {
    width: 100%;
    height: 100%;
    margin: 3rem 4rem;
    flex-direction: row;
}

.left-container {
    width: 25rem;
    margin-right: 3rem;
    align-self: stretch;
    box-sizing: border-box;
    justify-content: space-between;
}

.design-container {
    width: 100%;
    margin-bottom: 5%;
    background-color: white;
}

.design-container img, 
.design-container h3,
.design-container p,
.header-container h3,
.header-container p {
    margin: 0.1rem;
    padding: 0;
}

.design-container h3,
.right-container h3 {
    font-size: 2rem;
    font-weight: 600;
}

.right-container {
    width: 100%;
    flex: 1;
    gap: 2.5rem;
    align-self: stretch;
    padding: 2.5rem;
    border-radius: 0.01rem;
    border-color: #E7BB41;
    border-width: 0.1rem;
    border-style: solid;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.right-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.calamity-container,
.datetime-container,
.address-container div div,
.image-selector-container,
.description-container {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
}

.calamity-container select,
.datetime-container div input,
.address-container div div select,
.image-selector-container input,
.description-container textarea {
    border-color: #D3D0CB;
    border-radius: 0.5rem;
    border-width: 0.1rem;
    border-style: solid;
    font-size: 1.1rem;
    color: black;
    padding: 0.5rem;
}

/* .name-container div input, */
.datetime-container div input {
    width: 18rem;
    height: 2.4rem;
}

/* .name-container div label, */
.calamity-container label,
.datetime-container label,
.address-container label,
.image-selector-container label,
.description-container label {
    color: #44BBA4;
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
}

.calamity-container select, 
.address-container div div select {
    width: 19rem;
    padding: 1rem;
}

.datetime-container div input {
    margin-right: 3rem;
}

.address-container div {
    display: flex;
    flex-direction: row;
}

.address-container div div {
    justify-content: center;
    align-items: center;
}

.address-container div div label {
    color: black;
    font-weight: 400;
}

.description-container textarea {
    width: 45rem;
    height: 9rem;
}

#submit-report-button,
#update-report-button {
    width: 13rem;
    height: 3.5rem;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 2rem;
    border-width: 0;
    border-radius: 0.3rem;
    background-color: #E7BB41;
}

.image-selector-container div img {
    width: auto;
    height: 5rem;
    display: none;
    margin: 0.3rem;
    border-radius: 0.5rem;
}

.popup-container {
    width: 100%;
    height: inherit;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #00000096;
}

.popup-container .popup {
    width: 40rem;
    height: 25rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.popup-container .popup img {
    width: 8rem;
    height: auto;
}

.popup-container .popup h3 {
    color: #E7BB41;
    font-size: 1.7rem;
    margin: 2.5rem 0 0 0;
}

.popup-container .popup p {
    color: black;
    font-size: 1rem;
    margin: 0.1rem 0 3rem 0;
}

.popup-container .popup button {
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    border: 0;
    border-radius: 0.3rem;
    background-color: #E7BB41;
}