/* General styles for the page */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
  }
  
  .sidebar {
    width: 120px;
    height: 100vh;
    background-color: #393E41;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center everything horizontally, including the menu icon */
    overflow: hidden;
  }
  
  .sidebar.expanded {
    width: 300px;
  }
  
  .menu-icon {
    cursor: pointer;
    margin-top: 20px; /* Add top margin for spacing */
  }
  
  .menu-icon img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
  }
  
  .sidebar.expanded .menu-icon img {
    transform: rotate(90deg);
  }
  
  .menu-items {
    margin-top: 40px;
    width: 100%;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the left */
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    opacity: 0;
    width: 100%; /* Make each menu item take full width */
  }
  
  .menu-item img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .menu-item span {
    display: inline-block;
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .menu-item:hover,
  .menu-item.active {
    background-color: #44BBA4;
    opacity: 1;
    color: #fff;
  }
  
  .menu-item.active span {
    font-weight: bold;
  }
  
  .sidebar.expanded .menu-item {
    opacity: 1;
  }
  
  .sidebar.expanded .menu-item span {
    opacity: 1;
  }
  
  /* Main content styles */
  .main-content {
    margin-left: 120px;
    padding: 20px;
    flex-grow: 1;
    transition: margin-left 0.3s ease;
    width: calc(100% - 120px);
  }
  
  .sidebar.expanded ~ .main-content {
    margin-left: 300px;
    width: calc(100% - 300px);
  }
  
  .home-logo {
    margin-left: 20px;
    margin-bottom: 20px;
    display: inline-block;
  }
  
  .main-image {
    width: 100%;
    max-width: 1800px;
    height: auto;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  