
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family:  'Inter', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.element-container {
    width: 100%;
    height: 100%;
    display: block;
    padding: 3rem 4rem;
    box-sizing: border-box;
}

.header-container {
    width: 100%;
    height: 4.5rem;
    margin-bottom: 2.5rem;
    border-bottom: 0.1rem solid black;
}

.header-container img {
    height: 2rem;
    width: auto;
}

.main-container {
    width: 100%;
    height: 87%;
    padding: 0 1.5rem;
    display: block;
    box-sizing: border-box;
}

.main-container table {
    max-height: 46rem;
    display: block;
    border: 0.1rem solid black;
    border-collapse: collapse;
    overflow-y: scroll;
}

.main-container table::-webkit-scrollbar {
    display: none; 
}

.empty-rows {
    height: 42rem;
    color: #878C8E;
    text-align: center;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0.1rem solid black;
}

.main-container table thead th {
    position: sticky;
    top: 0; 
    background-color: #6DDCCF; 
    z-index: 2;
}

.report-table thead {
    width: 70rem;
    position: sticky;
    top: 0;
    background: #E7BB41;
  }

.main-container table thead th {
    border: 0;
    height: 3rem;
    font-size: 1.1rem;
    background-color: #E7BB41;
}

.main-container table tbody tr td {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    text-align: center;
    border-bottom: 0.1rem solid black;
}

.main-container table tbody td img {
    width: auto;
    height: 9rem;
    margin: 0;
}

.main-container table tr .description-column {
    width: 35rem;
    text-align: justify;
}

.main-container table tr .location-column {
    width: 13rem;
}

.main-container table tr .image-column {
    min-width: 16rem;
}

.main-container table tr .column {
    min-width: 11rem;
}

.main-container table tr select {
    height: 3rem;
    font-size: 1rem;
    border: 0;
}