

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    padding: 3rem 4rem;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    font-family:  'Inter', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    margin-top: 2.5rem;
}

main h1 {
    font-weight: 700;
}

.user-image-holder {
    width: 100%;
    height: 14rem;
    padding: 0 1.7rem;
    display: block;
    border-bottom: 0.1rem solid #D3D0CB;
}

.user-image-holder img {
    width: 12rem;
    border-radius: 100%;
    background-color: white;
}

.user-image-holder label {
    margin-left: -2rem;
}

.user-image-holder label span {
    font-size: 2rem;
    color: #909090;
}

.name-holder p {
    font-size: 1.3rem;
    margin: 0;
    color: black;
    font-weight: 400;
    text-transform: uppercase;
}

.name-holder,
.name-holder div input {
    width: 10rem;
    color: #9e9e9e;
    padding-right: 1rem;
}

.name-holder,
.address-holder,
.email-holder {
    width: 100%;
    height: max-content;
    display: flex;
    padding: 2rem 2.5rem;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    border-bottom: 0.1rem solid #D3D0CB;
}

.name-holder div h4,
.address-holder div h4,
.email-holder h4 {
    font-size: 1.3rem;
    color: black;
    line-height: 1rem;
    margin: 0 0 1rem 0;
}

.name-holder div label,
.address-holder div label,
.email-holder label {
    font-size: 1.1rem;
    margin-right: 0.2rem
}

.address-holder div select {
    width: 10rem;
}

.address-holder div select,
.email-holder input {
    color: black;
}

.name-holder div input,
.address-holder div select,
.email-holder input {
    border: none;
    font-size: 1.1rem;
    margin: 0.3rem 0 0 0;
    background-color: white;
}

.button-styling {
    width: 10rem;
    height: 3rem;
    font-size: 1.1rem;
    border-radius: 0.6rem;
    background-color: white;
    border: 0.1rem solid #909090;
}

.button-styling:hover {
    background-color: #eaeaea;
}
