

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    padding: 3rem 4rem;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    font-family:  'Inter', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    margin-top: 2.5rem;
    border-radius: 1rem;
    border: 0.1rem solid black;
}

main h1 {
    font-weight: 700;
}

main img {
    width: 100%;
    height: 10rem;
}

.user-profile-image-holder {
    width: 100%;
    height: 10rem;
    position: relative;
    border-radius: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../assets/user-profile-header.jpg');
}

.user-profile-image-holder .sub-container {
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 4rem;
    border-radius: 50%;
    background-color: #E7BB41;
}

.sub-container #profile-image-holder {
    width: 8rem;
    height: 8rem;
}

.header-buttons {
    margin: 7rem 5rem 0 5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header-buttons button {
    width: 20rem;
    height: 3rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-radius: 5rem;
    border: none;
}

.header-buttons #view-personal-info-button {
    color: black;
    margin-right: 2rem;
    background-color: #FAF1D9;
}

.header-buttons #signout-button {
    color: #878C8E;
    background-color: white;
}

main h2 {
    margin: 2rem 6rem;
    font-weight: bold;
}

