body {
    padding: 3rem 4rem;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    color: #000000;
  }
  
  /* Header styling */
  header {
    margin-bottom: 1rem;
  }
  
  .logo-section img {
    width: 150px; 
    height: auto;
    margin-bottom: 1rem;
  }
  
  /* Filters in a row */
  .filter-row {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .filter-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .filter-item .icon {
    width: 20px;
    height: 20px;
  }
  
  #date-picker, 
  #location-dropdown, 
  #severity-dropdown {
    padding: 0.5rem;
    font-size: 1rem;
    border: 0;
    background-color: #F0F0F0;
    border-radius: 4px;
  }
  
  /* Divider styling */
  .divider {
    border: none;
    height: 1px;
    background-color: #000000;
    margin: 1rem 0;
  }
  
  /* Table styling */
  .report-table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    display: block;
    max-height: 600px; /* Set vertical scroll height */
  }
  
  .report-table thead {
    position: sticky;
    top: 0;
    background: #44BBA4;
  }
  
  .report-table th, .report-table td {
    padding: 1rem;
    text-align: left;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    
  }
  
  .report-table img {
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  
  /* Select dropdown styling */
  select {
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  /* Scroll styling */
  .report-table tbody {
    display: block;
    overflow-y: auto;
    max-height: 600px; /* Vertical scrollable area */
  }
  
  .report-table tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    border: 1px solid #000000;
  }
  
  .report-image {
    width: 217.74px; 
    height: 140px;
  }

  .custom-dropdown {
    background-color: #F0F0F0;
    border: 1px solid #ccc;
    border-radius: 25px; /* Creates the oblong shape */
    padding: 8px 15px;
    font-size: 14px;
    color: #000000;
    outline: none;
    cursor: pointer;
  }
  
  .custom-dropdown option {
    background-color: #FFFFFF; /* Optional: Change dropdown options' background */
    color: #000000;
  }
  
  